* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Open Sans;
}

header {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.col-20 {
  width: 20%;
}

.col-80 {
  width: 80%;
}

.logoHeader img {
  margin-right: 50px;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

main {
  background-color: black;
  height: auto;
  text-align: center;
}

.jumbotron-main {
  background-image: url(../public/img/jumbotron.jpg);
  width: 100%;
  height: 400px;
  object-fit: cover;
}

a {
  color: black;
  text-decoration: none;
}

ul {
  display: flex;
  margin-left: 50px;
}

ul li {
  list-style: none;
  margin-right: 20px;
  font-size: small;
  margin-top: 40px;
}

h2 {
  color: white;
}

li.active a {
  color: #0282F9;
}

li.active {
  border-bottom: #0282F9 2px;
}

footer {
  background-color: #0282F9;
  padding: 30px 0px;
}

.col-100 {
  width: 100%;
}

.col-16 {
  width: calc(100% / 6);
}

.icons-list {
  display: flex;
  justify-content: space-around;
}

.icons-list img {
  width: 70px;
  height: 70px;
  vertical-align: middle;
  object-fit: contain;
  margin-left: 20px;
}

.icons-list span {
  color: #fff;
  margin-left: 10px;
  vertical-align: middle;
}

#jumbotron {
  margin-top: 100px;
  background-image: url('../public/img/footer-bg.jpg');
  height: 700px;
}

.col-40 {
  width: 40%;
}

.col-15 {
  width: 15%;
}

.background-dc {
  background-image: url(../public/img/dc-logo-bg.png);
  height: 560px;
  object-fit: contain;
  position: absolute;
  background-repeat: no-repeat;
}

.list-footer {
  color: white;
  display: block;
}

.comic-card {
  width: 100%;
  padding: 10px;
}

.comic-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  margin-top: 10px;
  margin-left: 5px;
}

.comic-card h4 {
  color: white;
}